.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal__container_image {
  margin: auto;
  position: relative;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 100%;
  max-width: 496px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  overflow: hidden;
}

.modal__close_image {
  background-image: url("../../../assets/images/close_button.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-size: contain;
  padding: 0;
  border-radius: 1px;
}

.modal__close_image.hover {
  animation: interactive 0.4s ease forwards;
}

.modal__name_image {
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.modal__weather_image {
  margin: 0;
}

.modal__image {
  width: 100%;
}

.modal__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 32px 32px 32px;
  gap: 12px;
}

.modal__text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__delete-button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  height: 24px;
  width: 101px;
  color: rgba(255, 77, 0, 1);
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal__delete-button.hover {
  color: black;
}

@media screen and (max-width: 700px) {
  .modal_type_picture {
    padding: 0 16px;
  }

  .modal__container_image {
    max-width: 343px;
  }

  .modal__footer {
    margin: 20px;
    gap: 12px;
  }

  .modal__close_image {
    background-image: url("../../../assets/images/close_mobile_menu.svg");
    width: 21.21px;
    height: 21.41px;
    top: 12px;
    right: 12.79px;
    border-radius: 1px;
  }
}
