.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__button-add-clothes {
  margin: 0 20px 0 auto;
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: none;
  padding: 0;
}

.header__logo {
  margin-right: 24px;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__date-location {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__profile-name {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: none;
  padding: 0;
}
