.modal__confirmation-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 60px 152px;
  position: relative;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 100%;
  max-width: 670px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  align-items: center;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  gap: 24px;
}

.modal__confirmation_text {
  min-width: 367px;
  margin: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__confirm-button {
  margin-top: 16px;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  height: 24px;
  width: 138px;
  color: rgba(255, 77, 0, 1);
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal__confirm-button.hover {
  color: black;
}

.modal__cancel-button {
  background: none;
  padding: 0;
  border: none;
  height: 24px;
  width: 61px;
  color: black;
  cursor: pointer;
}

.modal__cancel-button.hover {
  animation: interactive 0.4s ease forwards;
}

.modal__close-confirmation {
  right: 20px;
}
