.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 323px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px;
  gap: 8px;
}

.card__image {
  width: 100%;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(233, 233, 233, 1);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .card {
    width: 162px;
  }

  .card__name {
    top: 7px;
    gap: 8px;
  }
}
