.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__button-add-clothes {
  margin: 0 20px 0 auto;
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: none;
  padding: 0;
  cursor: pointer;
  scale: 1;
}

.header__button-add-clothes.hover {
  animation: interactive 0.4s ease forwards;
}

.header__logo {
  margin-right: 24px;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__date-location {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__profile-name {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: none;
  padding: 0;
}

.header__hamburger_button {
  top: 18px;
  display: none;
  width: 44px;
  height: 44px;
  padding: 16px 8px;
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../../../assets/images/hamburger_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 18px;
}

.header__close_container {
  display: none;
  background-image: url("../../../assets/images/close_mobile_menu.svg");
  width: 21.21px;
  height: 21.41px;
  position: absolute;
  top: 11px;
  right: 11.39px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 1px;
}

.header__user-mobile {
  display: none;
}

.header__button-add-clothes-mobile {
  display: none;
}

@keyframes interactive {
  from {
    scale: 1;
  }
  to {
    scale: 1.05;
  }
}

@media screen and (max-width: 700px) {
  .header {
    display: block;
    padding: 18px 0 32px;
  }

  .header__button-add-clothes {
    display: none;
  }

  .header__user {
    position: absolute;
    display: none;
  }

  .header__date-location {
    padding-top: 32px;
    text-align: left;
  }

  .header__hamburger_button {
    display: block;
  }

  .header__close_container {
    display: block;
  }

  .header__close_container.hover {
    animation: interactive 0.4s ease forwards;
  }

  .header__container_mobile {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    overflow: hidden;
  }

  .header__container_mobile.header__container_mobile_opened {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 24px;
    top: 18px;
    left: 16px;
    right: 16px;
    border: rgba(0, 0, 0, 0.5);
    height: 215px;
    z-index: 5;
    border-radius: 10px;
  }

  .header__user-mobile {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .header__button-add-clothes-mobile {
    display: block;
    border: none;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    background: none;
    padding: 0;
    cursor: pointer;
    scale: 1;
  }

  .header__button-add-clothes-mobile.hover {
    animation: interactive 0.4s ease forwards;
  }
}
