.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear 0.3s, opacity 0.3s linear;
}

.modal__container {
  margin: auto;
  position: relative;
  padding: 28px 28px 36px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 100%;
  max-width: 496px;
  overflow: hidden;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal__close {
  background-image: url("../../../assets/images/close_button.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-size: contain;
  padding: 0;
}

.modal__close.hover {
  animation: interactive 0.4s ease forwards;
}

.modal__name {
  margin: 0;
  padding-bottom: 24px;
  color: black;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

@media screen and (max-width: 700px) {
  .modal {
    padding: 0;
  }

  .modal__container {
    margin: auto;
    position: fixed;
    bottom: 0;
    padding: 32px 16px;
    border-radius: 12px 12px 0 0;
  }

  .modal__close {
    background-image: url("../../../assets/images/close_mobile_menu.svg");
    width: 21.21px;
    height: 21.41px;
    top: 20px;
    right: 20.79px;
    border-radius: 1px;
  }

  .modal__button {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
}
